.header {
  background-color: #f8f9fa; /* Light grey background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 0.5rem 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; /* Dark text color */
  text-decoration: none;
}

.navbar-brand:hover {
  color: #007bff; /* Primary color on hover */
}

.btn {
  margin-left: 10px;
}
