<hr>
<h4>Commentaries:</h4>
<div class="commentary-list">
  <app-commentary-item
  *ngFor="let commentary of rootCommentaries"
  [commentary]="commentary"
  [allCommentaries]="commentaries"
  [depth]="0"
  ></app-commentary-item>
</div>
<div class="row">
  <div class="col-xs-12 mb-3 d-flex align-items-center">
    <!-- Add input for commentary -->
    <input
      type="text"
      class="form-control me-3"
      placeholder="Write your commentary..."
      [(ngModel)]="newCommentaryContent"
    />
    <button 
    class="btn btn-success" 
    (click)="onPostCommentary()" 
    [disabled]="!isLoggedIn" 
    title="You must be logged in to post">
    Submit
  </button>

  </div>
</div>
