<hr>
<div class="container mt-4">
  <div class="row">
    <!-- Left: Post Info -->
    <div class="col-md-6">
      <div class="post-detail">
        <h2 class="post-title">{{ post?.title }}</h2>
        <p class="post-meta text-muted">
          Posted {{ getTimeAgo(post?.createdDate) }} by {{authorName}}
        </p>
        <p class="post-description">{{ post?.description }}</p>
      </div>
      <div class="row mt-3">
        <button
          *ngIf="isOwner(post?.userId)"
          class="btn btn-success w-100 mb-2"
          (click)="onUpdatePost()"
        >
          Update Post
        </button>
        <button
          *ngIf="isOwner(post?.userId)"
          class="btn btn-danger w-100"
          (click)="onDeletePost()"
        >
          Delete Post
        </button>
      </div>
    </div>

    <!-- Right: Post Image -->
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div *ngIf="post?.image" class="post-image text-center">
        <img
          src="data:image/png;base64,{{ post.image }}"
          alt="Post Image"
          class="img-fluid rounded"
        />
      </div>
    </div>
  </div>

  <hr />

  <!-- Bottom: Comments Section -->
  <div class="comments-section mt-4">
    <app-commentary-list
    [postId]="id"
  ></app-commentary-list>
  </div>
</div>